.section
  - if @reply
    %h2 Svara skilaboði
  - else
    %h2 Ný skilaboð
  
  = form_for @message do |f|
    = f.error_messages
    
    = hidden_field_tag :reply, @reply.id if @reply
    
    - unless @reply
      %div
        = f.label :receiver, "Viðtakandi"
        = f.text_field :receiver
    
    %div
      = f.label :subject, "Efni"
      = f.text_field :subject
    
    %div
      = f.label :message, "Skilaboð"
      = f.text_area :message, :size => "10x12"
    
    %div
      = f.submit "Senda"
  
  - if @reply
    .section
      - message :user => @reply.sender, :created_at => @reply.created_at, :content => @reply.message
