.section
  %ul.controls
    - link :forums, :new do
      %li= link_to "Nýr spjallflokkur", new_forum_path
  %h2 Spjallborð
  
  %table
    %thead
      %tr
        %th Lesið
        %th.expand Spjallflokkur
        %th Þræðir
        %th Póstar
        %th.nowrap Seinasta innlegg
    %tbody
      - @forums.each do |forum|
        %tr
          %td ?
          %td
            = link_to forum.title, forum
            %br
            = forum.description
          %td= forum.topics_count
          %td= forum.posts_count
          %td.nowrap
            - if forum.last_subject
              = link_to forum.last_subject, forum_topic_path(forum, forum.last_topic_id)
              af
              = link_to forum.last_username, forum.last_username
              %br
              - if forum.last_created_at
                = forum.last_created_at.to_time
            - else
              Engir póstar
      - if @forums.empty?
        %tr
          %td.notice{:colspan => 5}
            Engir spjallflokkar.
