- title @forum.title
.section
  %ul.controls
    - link :topics, :new do
      %li= link_to "Nýr spjallþráður", new_forum_topic_path(@forum)
    - link :forums, :edit, :id => @forum.id do
      %li= link_to "Breyta", edit_forum_path(@forum)
    - link :forums, :destroy, :id => @forum.id do
      %li= link_to "Eyða", forum_path(@forum), :confirm => "Ertu viss um að þú viljir eyða þessum spjallflokki?", :method => :delete
  %h2= @forum.title
  
  - unless @stickies.empty?
    - forums_overview @stickies, :sticky => true
    
    .section
      - forums_overview @topics
  - else
    - forums_overview @topics
  
  .table= will_paginate @topics
