- title @user.username
.section
  %ul.controls
    - link :messages, :new, :receiver => @user.username do
      %li= link_to "Senda einkaskilaboð", new_message_path(:receiver => @user.username)
    - link :users, :posts, :id => @user.id do
      %li= link_to "Spjallpóstar", posts_user_path(@user)
    - link :blocks, :create, :user => @user.username do
      %li= link_to "Hunsa", blocks_path(:user => @user.username), :confirm => "Ertu viss um að þú viljir hunsa þennan notanda?", :method => :post
    - link :blocks, :destroy, :id => @user.username do
      %li= link_to "Afhunsa", block_path, :method => :delete
  %h2= @user.username
  
  %dl
    %dt Skráð
    %dd= @user.created_at
    %dt Kredits
    %dd!= pretty_kredits @user.kredits
    %dt Avatar
    %dd= gravatar_image(@user, :class => :border)
    - if @user.inviter
      %dt Bjóðandi
      %dd= link_to @user.inviter.username, @user.inviter
    %dt Innsend torrent
    %dd
      - torrent_overview @user.uploaded_overview, :download => false, :user => false, :empty_message => "Engin innsend torrent."
    %dt Deili
    %dd
      - torrent_overview @user.seeding_overview, :download => false, :created_at => false, :user => false, :empty_message => "Engin torrent í deilingu."
    %dt Sækji
    %dd
      - torrent_overview @user.leeching_overview, :download => false, :created_at => false, :user => false, :empty_message => "Ekki að sækja nein torrent."
