- title "Bönn"
.section
  %ul.controls
    %li= link_to "Nýtt bann", new_ban_path
  %h2 Bönn
  
  %table
    %thead
      %tr
        %th Skráð
        %th.nowrap Skráð af
        %th.nowrap Subnet
        %th.expand Ástæða
    %tbody
      - @bans.each do |ban|
        %tr
          %td.nowrap= ban.created_at
          %td= link_to ban.user.username, ban.user
          %td= link_to ban.address, ban
          %td= ban.reason
      - if @bans.empty?
        %tr
          %td.notice{:colspan => 4}
            Engin bönn.
