- title @page.section + " / " + @page.uri
.section
  %ul.controls
    %li= link_to "Breyta", edit_page_path(@page)
    %li= link_to "Eyða", @page, :confirm => "Ertu viss um að þú viljir eyða þessari síðu?", :method => :delete
  %h2
    = @page.section
    \/
    = @page.uri
  
  .markdown!= markdown @page.entry
