.section
  %h2
    = link_to @forum.title, @forum
    &gt;
    = link_to @topic.subject, forum_topic_path(@forum, @topic)
    &gt;
    - if @post.new_record?
      Nýtt innlegg
    - else
      Breyta innlegg
  
  = form_for [@forum, @topic, @post] do |f|
    = f.error_messages
    
    %div
      = f.label :post, "Innlegg"
      = f.text_area :post, :size => "10x12"
    
    %div
      = f.submit "Vista"
