= form_for :search, :method => :get do |f|
  %div
    = f.label :search, "Leita"
    = f.text_field :search
  
  %div
    = f.label :categories, "Flokkar"
  
  %div
    = f.submit "Leita"

- torrent_overview @torrents, :empty_message => "Engin torrent."
