.section
  %ul.controls
    - link :reports, :new, :torrent => @torrent.id do
      %li= link_to "Tilkynna", new_report_path(:torrent => @torrent.id)
    - link :torrents, :edit, :id => @torrent.id do
      %li= link_to "Breyta", edit_torrent_path(@torrent)
    - link :torrents, :destroy, :id => @torrent.id do
      %li= link_to "Eyða", @torrent, :method => :delete, :confirm => "Ertu viss um að þú viljir eyða þessu torrenti?"
  %h2= @torrent.title
  
  %dl
    %dt Niðurhal
    %dd= link_to ".torrent", torrent_path(@torrent, :format => :torrent)
    %dt Skráð
    %dd= @torrent.created_at
    %dt Tékksumma
    %dd= @torrent.infohash_hex
    %dt Lýsing
    %dd.markdown!= find_and_preserve(markdown(@torrent.description))
    - unless @torrent.fyles.blank?
      %dt Skrár
      %dd
        %table
          %thead
            %tr
              %th Stærð
              %th.expand Skráarnafn
          %tbody
            - @torrent.fyles.oby_path.each do |fyle|
              %tr
                %td.nowrap= number_to_human_size(fyle.size)
                %td= fyle.path
    - else
      %dt Skrá
      %dd= @torrent.info_name
    %dt Innsendandi
    - if @torrent.anonymous
      %dd.italic Nafnlaust
    - else
      %dd= link_to @torrent.user.username, @torrent.user

.section
  %ul.controls
    - link :comments, :new do
      %li= link_to "Ný athugasemd", new_torrent_comment_path(@torrent)
  %h2 Athugasemdir
  
  - @comments.each do |comment|
    - message :user => comment.user, :created_at => comment.created_at, :content => comment do
      - link :reports, :new, :comment => comment.id do
        %li= link_to "Tilkynna", new_report_path(:comment => comment.id)
      - link :comments, :edit, :id => comment.id do
        %li= link_to "Breyta", edit_torrent_comment_path(@torrent, comment)
      - link :comments, :destroy, :id => comment.id do
        %li= link_to "Eyða", torrent_comment_path(@torrent, comment), :method => :delete, :confirm => "Ertu viss um að þú viljir eyða þessari athugasemd?"
  - if @comments.empty?
    .message.notice Engar athugasemdir.
