%section
  %h2= @torrent.title
  
  %dl
    %dt Niðurhal
    %dd= link_to ".torrent", torrent_path(@torrent, :format => :torrent)
    %dt Skráð
    %dd= @torrent.created_at
    %dt Tékksumma
    %dd= @torrent.infohash_hex
    %dt Lýsing
    %dd= @torrent.description
    - unless @torrent.fyles.blank?
      %dt Skrár
      %dd
        %table
          %thead
            %th Stærð
            %th.expand Skráarnafn
          %tbody
            - @torrent.fyles.oby_path.each do |fyle|
              %tr
                %td.nowrap= number_to_human_size(fyle.size)
                %td= fyle.path
      %dt Innsendandi
      - if @torrent.anonymous
        %dd.italic Nafnlaus
      - else
        %dd= link_to @torrent.user.username, @torrent.user
