.section
  %h2 Tilkynning
  
  %dl
    %dt Skráð
    %dd= @report.created_at
    
    %dt Skráð af
    %dd= link_to @report.user.username, @report.user
    
    %dt Tilkynnti
    - if @report.victim
      %dd= link_to @report.victim.user.username, @report.victim.user
    - else
      %dd Óvitað
    
    %dt Something
    %dd= link_victim @report
    
    %dt Ástæða
    %dd.markdown!= markdown(@report.reason)

.section
  %ul.controls
    %li= link_to "Ný athugasemd", new_report_note_path(@report)
  %h2 Til athugunar
  
  - @notes.each do |note|
    - message :user => note.user, :created_at => note.created_at, :content => note
