!!! 5
%html
  %head
    %title Deildu
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %a#logo{:href => root_path}
    #navigation
      %ul
        - unless current_user.nil?
          %li= link_to "Aðalsíða", root_path
          %li= link_to "Torrent", torrents_path
          %li= link_to "Deila", new_torrent_path
          %li= link_to "Spjallborð", forums_path
          %li= link_to "Eftirspurnir", "#"
          %li= link_to "Prófíll", "#"
          %li= link_to "Hjálp", "/help"
          %li= link_to "Reglur", "/rules"
        - else
          %li= link_to "Innskráning", auth_users_path
          %li= link_to "Nýskráning", new_user_path
          %li= link_to "Hjálp", "/help"
          %li= link_to "Reglur", "/rules"
    - unless current_user.nil?
      #status
        .right
          %ul
            %li= link_to "Tilkynningar", reports_path
            %li= link_to "Síður", pages_path
            %li= link_to "Útskrá", auth_users_path, :method => :delete
          %ul
            %li= link_to "Innhólf", inbox_messages_path
            %li= link_to "Úthólf", outbox_messages_path
        .left
          %ul
            %li
              Velkomin/n,
              = link_to current_user.username, current_user
            %li= link_to "Boðslyklar", invitations_path
          %ul
            %li Kredits: #{pretty_kredits current_user.kredits}
    #content
      = yield
    #notice
      %p Knúið af ókunnugu kerfi. Notkun síðunar jafngildir samþykki notendaskilmála.
